body,p,ul,ol,dl,dd,dt,li,h1,h2,h3,h4,h5,h6,form,input,div,img,pre{
  margin:0px;
  padding:0px;
  border:0px;
  list-style:none;
  font-family:Arail,"Microsoft Yahei";
}
a{
  text-decoration:none;
  color:#333;}
/******************************/
.site-topbox{
  width:100%;
  height:40px;
  background:#333 none repeat scroll;
}
.topbox{
  width:1226px;
  height:40px;
  margin:0 auto;
}
/******************************/
.topboxl{
  width:515px;
  height:40px;
  line-height:40px;
  float:left;
}
.topboxl  li{
  font-size:12px;
  float:left;
}
.shul{
  font-size:12px;
  color:#424242;
  margin:0 0.5em;
}
 .topboxl li a:hover{
color:#fff;  
}
.topboxl ul li a{
  color:#B0B0B0;
  text-decoration:none;
}
/******************************/
.topboxlc{
  width:711px;
  height:40px;
  line-height:40px;
  float:right;
}
.topboxlc ul{
  width:576px;
  height:40px;
  float:left;
  }
.topboxlc li{
  font-size:12px;
  float:right;
  margin:0 3px;
}
.topboxlc li a:hover{
color:#fff;  
}
.topboxlc ul li a{
  color:#B0B0B0;
}
.shuw{
  font-size:12px;
  color:#424242;
  margin:0 0.5em;
  float:right;
}
/******************************/
.topboxlr{
  width:120px;
  height:40px;
  font-size:12px; 
  line-height:40px;
  float:right;  
  text-align:center;
  background:#424242 none repeat scroll;
  margin-left: 15px;
  display:inline;
} 
.topboxlr  a{
  display:block;
  width:120px;
  height:40px;
  color:#B0B0B0;
}
.topboxlr a:hover{
  color:#ff6700;
  background:#fff;
}
 /******************************/
 .daohanglanbox{
  width:100%;
  height:100px;
  position: relative;
}
.daohanglan{
  width:1226px;
  height:100px;
  margin:0 auto;
}
.logo{
  float:left;
  margin-top:22px;
  margin-right:5px;
}
 /******************************/
 .daohangqi{
  width:850px;
  height:88px;
  float:left;
  padding-top:12px;
 }
.daohangwenzi{
  margin-left:168px;
 }
 .yiji{
  float:left;
  font-size:16px;
  
}
.yiji>a{
  padding:27px 18px 39px;
  color:#333;
  display: block;
}
.yiji a:hover{
  color:#ff6700;
}
.erji{
  width:100%;
  height:229px;
  position: absolute;
  left:0;
  top:100px;
  z-index: 99;
  display: none;
  border-top: 1px solid #E0E0E0;
  background: #fff;
  box-shadow:0px 3px 4px rgba(0, 0, 0, 0.18);
}
.xialabox{
  width:1226px;
  height:201px;  
  margin:0 auto;
}
.xiala{
  height:201px;
  width:1226px;
  font-size: 12px;
}
.xiala li{
  width:180px;
  padding: 35px 12px 0;
  float: left;
  text-align: center;
}
.xl-img{
  width:160px;
  height:110px;
  margin:0 auto 16px;
}
.xl-img img{
  width:160px;
  height:110px;
}
.xl-h{
  line-height: 20px;
  color:#333;
}
.xiala li p{
  line-height: 20px;
  color:#ff6700;
}
/******************************/
.sousuolan{
  width:296px;
  height:50px;
  float:right;
  border:1px solid #e0e0e0;
  margin-top:25px;
}
.sousuolan:hover{border-color:#b0b0b0;}
.sousuokuang{
  width:225px;
  height:50px;
  border-style:none;
  padding: 0 10px;
  border-right:1px solid #e0e0e0;
  outline:none;
}
.sousuokuang:hover{border-color:#b0b0b0;}
.shouhuan{
  font-size:12px;
  color:#757575;
  background:#eee;
  float:left;
  margin:0 0.2em;
  padding:0 5px;
  display:block;
  position:relative;
  top:-33px;
  right:-130px;
}
.shouhuan:hover{color:#fff; background:#ff6700;}
.ssk{
  width:48px;
  height:50px;
  display:block;
  float:right;
}
.ssk:hover{color:#ff6700;}
/******************************/
.bannerbox{
  width:100%;
  height:1108px;
}
.banner{
  width:1226px;
  height:460px;
  margin:0 auto;
  position:relative;
}
/******************************/
.banner-left{
  width:234px;;
  background:rgba(0,0,0,0.4);
  position:absolute;
  left:0px;
  top:0px;
  padding:20px 0;
}
.banner-left>li>a{
  display: block;
  font-size:14px;
  color:#fff;
  text-decoration: none;
  padding-left: 30px;
  line-height:42px;
}
.banner-left>li>a>p{
  float:right;
  font-size:16px;
  font-weight:bold;
  padding-right:20px;
  color:#b0b0b0;
}
.banner-left>li:hover{
  background:#ff6700;
}
.ers{
  height:458px;
  position: absolute;
  left: 234px;
  top:0;
  background: #fff;
  z-index: 99;
  border:1px solid #e0e0e0;
  display: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18);
}
.ers ul{
  float: left;
  width: 265px;
  height:458px;
}
.ers-li{
  float: left;
  width: 265px;
  height: 76px;
  position: relative;
}
.ers-a{
  width:170px;
  display:  block;
  padding: 18px 20px;
  line-height: 40px;
}
.ers-a:hover{
  color:#ff6700;
}
.ers-img{
  margin-right: 12px;
  vertical-align: middle;
}
.ers-wz{
  color:#333;
  font-size: 12px;
}
.ers-aa{
  display: block;
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 26px;
  width: 58px;
  height: 22px;
  line-height: 22px;
  border:1px solid  #FF6700;
  background: #FFF;
  color: #FF6700;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.ers-aa:hover{
  background: #ff6700;
  color:#fff;
}
/******************************/
.tupian{
  width:1226px;
  height:460px;
  position: relative;
}
.tupian img{
  display: none;
  position:absolute;
  left: 0;
  top: 0;
}
.banner-right{
  width:100px;
  height:10px;
  background:transparent;
  position:absolute;
  right:35px;
  bottom:25px;
}
.banner-right li{
  width:6px;
  height:6px;
  border:2px solid rgba(255, 255, 255, 0.3);
  float:left;
  margin-right:10px;
  border-radius:50%;
  background:rgba(0, 0, 0, 0.4);
  cursor: pointer
  }
.banner-right li:hover{
  border:2px solid rgba(0, 0, 0, 0.4);
  background:rgba(255, 255, 255, 0.4);
  }
/******************************/
.bannerbtnleft{
  height:69px;
  width:41px;
  line-height: 69px;
  text-align: center;
  background:transparent url("../image/icon-slides.png") no-repeat scroll -84px 50%;
  position:absolute;
  left: 234px;
  top:190px; 
}
.bannerbtnleft:hover{
  background-position:0px 50%;
}
.bannerbtnright{
  height:69px;
  width:41px;
  line-height: 69px;
  text-align: center;
  background:transparent url("../image/icon-slides.png") no-repeat scroll -125px 50%;
  position:absolute;
  right: 0;
  top:190px; 
}
.bannerbtnright:hover{
  background-position:-42px 50%;
}
/******************************/
.tuijian-box{
  width:1229px;
  height:634px;
  margin:0 auto;
}
.tuijianbox{
  width:1229px;
  height:170px;
  margin-top:14px;
  margin-bottom:26px;
}
.chuangkou{
  width:232px;
  height:170px;
  background:#5f5750 none;
  float:left;
}
.con{
  width:218px;
  height:152px;
  padding:8px 8px;
}
.xbox{
  height:71px;
  width:65px;
  margin:0 2px 2px 2px;
  background:#5f5750;
  float:left;
  text-align: center;
}
.xbox a{
  font-size:12px;
  color:rgba(255, 255, 255, 0.7);
  margin:0 auto;
}
.xbox a:hover{color:#fff;}
.shuxian{
  height:66px;
  width:1px;
  margin:5px 2px;
  background:gray;
  float:left; 
}
.hengxian{
  width:60px; 
  height:1px;
  margin:1px 6px 4px;
  background:gray;
  float:left;
}
.tuijian{
  width:316px;
  height:170px;
  margin-left:15px;
  float:left;
}

/******************************/
.mingxing{
  width:1226px;
  height:438px;
  margin:0 auto;
}
.mingxing-hd{
  width:1226px;
  height:58px;
}
.xmmx{
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float:left;
}
.kuohao{
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  border: 1px solid #E0E0E0;
  font-size: 16px;
  line-height: 16px;
  text-align:center;
  color: #B0B0B0;
  float:right;
  font-weight:bold;
  margin-top:24px;
}
.kuohao a{
  color:#757575;
}
.kuohao a:hover{
  color:#ff6700;}
/******************************/
.danpingbox{
  width:1226px;
  height:340px;
  padding-bottom:40px;
}
.danping{
  width:100%;
  height:340px;
}
.danping-box li{
  width:234px;
  height: 300px;
  padding-top: 39px;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
  background: #FAFAFA; 
}
.photo{
  width:160px;
  height:160px;
  margin-bottom:20px;
}
.xiaomi-a{
  border-top-color:#FFAC13;
  margin-right:14px;
  float:left;
}
.xiaomi-b{
  border-top-color:#83C44E;
  margin-right:14px;
  float:left;
}
.xiaomi-c{
  border-top-color:#2196F3;
  margin-right:14px;
  float:left;
}
.xiaomi-d{
  border-top-color:#E53935;
  margin-right:14px;
  float:left;
}
.xiaomi-e{
  border-top-color:#00C0A5;
  margin-right:0px;
  float:left;
}
.jieshao-mc a{
  font-size:14px;
  color:#212121;
}
.dpjs-js{
  height: 18px;
  margin: 0px 20px 12px;
  font-size: 12px;
  color: #B0B0B0;
}
.dpjs-jg{
  color:#ff6709;
  font-size:14px;
}
/******************************/
.shopbox{
  height:4519px;
  width:100%;
  background:#f5f5f5;
  padding-top:60px;
}
.shop{
  width:1226px;
  height:4519px;
  margin:0 auto;
}
/******************************/
.zhinengyjbox{
  width:1226px;
  height:686px;  
  margin-bottom:8px;
}
.znyjbox{
  width:1226px;
  height:58px;
}
.znyjbox h2{
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float:left;
}
.ckqb li{
  height:58px;
  width:100px;  
  float:right;
}
.ckqb li a{
  font-size:16px;
  line-height:58px;
  color:#424242;
}
.ckqb li a p{
  float:right;
  margin-top:11px;
}
.ckqb li a:hover{
  color:#ff6700;}
/******************************/
.zhinengbox{
  height:628px;
  width:1240px;
}
.zhineng-left{
  width:234px;
  height:614px;
  background: #fff;
  float:left;
}
.zhineng-left:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
.zhineng-right{
  width:992px;
  height:614px;
  float:right;
}
.fenli{
  width:992px;
  height:314px;
  float:left;
}
.zhi-neng li{
  width:230px;
  height: 260px;
  padding:20px 0;
  margin-bottom:14px;
  margin-left:14px;
  text-align: center;
  background: #fff; 
  float: left;
}
.zhineng-js a{
  font-size:14px;
  color:#212121;
}
.znyj-js{
  height: 18px;
  margin: 0px 10px 10px;
  font-size: 12px;
  color: #B0B0B0;
}
.znys-jg{
  color:#ff6709;
  font-size:14px;
}
.pt{
  height:160px;
  width:160px;  
  margin:0px 10px 14px;
}
.flag{
  width: 64px;
  height: 20px;
  font-size: 12px;
  color: #FFF;;
  text-align: center;
  line-height: 20px;
  position:relative;
  top:-274px;
  left:85px;
  background:#FFAC13;
}
.zhi-neng li:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.dapeibox{
  width:1226px;
  height:686px;
  margin-bottom: 8px;
}
.box-hd{
  width:1226px;
  height:58px;
}
.box-hd h2{
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float:left;
}
.js-box{
  width:328px;
  height:26px;
  float:right;
  padding-top:16px;
}
.js-box1{
  width:358px;
}
.js-box2{
  width:342px;
}
#rem{
  color:#ff6700;
  border-bottom:2px solid #FF6700;
}
.js-box ul{
  list-style-type: none;
  font-size:16px;
}
.js-box ul li{
  float:left;
  margin-left:30px;
}
.js-box li{color:#333;}
.js-box li:hover{color:#ff6700;border-bottom: 2px solid #FF6700;}
/******************************/
.dapei{
  width:1226px;
  height:628px;
}
.dapei-leftbox{
  width:234px;
  height:628px;
  float:left;
}
.dapei-left{
  width:230px;
  height:300px;
  margin-bottom: 14px;
  position:relative;
  left:0px;
  top:0px;
}
.dapei-left1{
  width:230px;
  height:300px;
  margin-bottom: 14px;
  position:relative;
  left:0px;
  top:0px;
}
.dapei-left:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
.dapei-left1:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.dapei-rightbox{
  height:628px;
  width:992px;
  float:right;
}
.dapei-kais{
  width:230px;
  height: 246px;
  padding:34px 0 20px;
  margin-bottom:14px;
  margin-left:14px;
  text-align: center;
  background: #fff; 
  float: left;
}
.dptp{
  width:150px;
  height:150px;
  margin-bottom:14px;
}
.dapei-mc a{
 font-size: 14px;
 font-weight: 400;
 color:#333;
}
.dapei-jg{
color: #FF6700;
margin:0px 10px 10px ;
font-size:14px;
}
.dapei-pj{
margin: 0px 10px;
font-size: 12px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
color: #B0B0B0;
}
.dapei-right li:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.zuihou{
  width:230px;
  height:143px;
  margin-bottom:14px;
  margin-left:14px;
  background: #fff; 
  float: left;
}
.xdptp{
  width: 80px;
  height: 80px;
  position:relative;
  right:-134px;
  top:33px;
}
.dapei-xmc{
 margin:-43px 110px 5px 30px;
}
.dapei-xmc a{ 
  font-size: 14px;
  font-weight: 400;
  color:#333;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dapei-xjg{
color: #FF6700;
margin:0px 30px 10px ;
font-size:14px;
}
.xdptp1{
  height:48px;
  width:48px;
  position:relative;
  right:-148px;
  top:48px;
}
.dapei-xmc1{
  margin:-0px 110px 5px 30px;
}
.dapei-xmc1 a{ 
  font-size:18px;
  font-weight: 400;
  color:#333;
}
.dapei-xjg1{
 font-size:12px;
 color:#757575;
 margin:0px 30px 10px ;
 font-size:12px;
}
.dapei-right li:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.weinibox{
  width:1226px;
  height:358px;
  margin-bottom:22px;
}
.weini-hd{
  height:58px;
}
.weini-hd h2{
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float:left;
}
/******************************/
.weini-box{
  width:1240px;
  height:300px;
}
.wntj{
  width:230px;
  height:246px;
  background:#fff;
  margin:0 14px 14px 0;
  text-align: center;
  padding:34px 0 20px;
  float:left;
}
.wntj a{
  width:140px;
  height:140px;

}
.wntj h3{
  font-size:14px;
  color:#333; 
  height:18px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
}
.wntj-jg{
  margin-bottom: 10px;
  color: #FF6700;
  font-size:14px;
}
.wntj-hp{
  font-size: 14px;
  color: #757575;
}
.wntj:hover{
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.repingbox{
  height:438px;
  width: 1266px;
  margin-bottom: 22px;
}
.reping-hd{
  width:1226px;
  height:58px;
}
.reping-hd h2{
  height:58px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
/******************************/
.reping{
  height:380px;
  width:1240px;
}
.reping li{
  height:380px;
  width:296px;
  margin:0 14px 14px 0;
  background:#fff;
  float:left;
}
.rptp{
  height:220px;
  width:296px;
  margin-bottom:28px;
}
.cp-pj{
  font-size:14px;
  width:236px;
  height:42px;
  margin: 0px 30px 5px;
}
.yhmc{
  font-size:12px;
  margin: 0px 30px 15px;
  color:#b0b0b0;
}
.rp-cp{
  margin: 0px 30px;
}
.rp-cp a{
  font-size:14px;
  color:#333;
  font-weight:400;
}
.rp-cp p{
  display:inline;  
  font-size:14px;
}
.cp-shu{
  color: #E0E0E0;
  margin: 0px 0.25em;
}
.cp-money{
  color:#ff6700;
}
.reping li:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.neirongbox{
  height:478px;
  width:1226px;
  margin-bottom: 22px;
}
.neirong-hd{
  height:58px;
  width:1226px;
}
.neirong-hd h2{
  height:58px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
/******************************/
.neirong{
  height:420px;
  width:1226px;
}
.nr{
  width:296px;
  height:374px;
  background:#fff;
  padding-top:45px;
  margin:0 14px 14px 0;
  border-top-style: solid;
  border-top-width: 1px;
  float:left;
}
.nr li{
  text-align: center;
}
.tushu{
  margin: 0px 10px 18px;
  font-size: 16px;
  font-weight: 400;
}
.ts-biaoti{
  font-size: 20px;
  font-weight: 400;
  margin-bottom:5px;
}
.ts-biaoti a{
  color:#333;
}
.ts-jiesao{
  margin: 0px 48px 10px;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
}
.ts-jiesao a{
  color:#B0B0B0;
}
.ts-jiage{
  font-size:14px;
}
.ts-photo{
  margin-top:15px;
  margin-bottom:20px;
}
.nr,.tushu{
  color:#ff6700;
  border-top-color:#ff6700;
}
.nr1,.miui{
  color:#83c44e;
  border-top-color:#83C44E;
}
.nr2,.yx{
  color:#E53935;
  border-top-color:#E53935;
}
.nr3{margin-right:-14px;}
.nr3,.yy{
  color:#2196F3;
  border-top-color:#2196F3;
}
.ts-dibu{
  height:30px;
  width:296px;
  text-align:center;
}
.ts-dibu1{
  height:6px;
  width:6px;
  border-radius:6px;
  border: 2px solid #ff6700;
  float:left;
  margin-left:95px;
  margin-right:5px;
}
.ts-dibu2{
  height:6px;
  width:6px;
  border-radius:6px;
  background-color: #B0B0B0;
  float:left;
  margin-left:20px;
  margin-right:5px;
} 
.ts-dibu2:hover{
  background-color:#ff6700;
}
.nr:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
/******************************/
.shipingbox{
  height:343px;
  width:1266px;
  margin-bottom:60px;
}
.shiping-hd{
  height:58px;
  width:1226px;
}
.shiping-hd h2{
  height:58px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float:left;
}
/******************************/
.shiping{
  height:285px;
  width:1226px;
}
.video{
  height:285px;
  width:296px;
  background:#fff;
  text-align:center;
  float:left;
  margin-right: 14px;
}
.video1{
  margin-right: -14px;
}
.video-photo{
  width:295px;
  height:180px;
  margin-bottom:28px;
}
.video-mingcheng{
  margin-bottom:6px;
}
.video-mingcheng a{
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.video-jieshao{
  height: 18px;
  margin: 0px;
  font-size: 12px;
  color: #B0B0B0;
}
.video-mingcheng a:hover{
  color:#ff6700;
}
.video:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:-2px;
}
.img{
  height:180px;
  width:296px;
}
/******************************/
.dibubox{
  width:100%;
  height:272px;
}
.dibu{
  width:1226px;
  height:272px;
  margin:0 auto;
}
/******************************/
.dibu-topbox{
  height:25px;
  width:1226px;
  padding:27px 0;
  border-bottom:1px solid #e0e0e0;
}
.dibu-top{
  width:1226px;
  height:25px;
}
.baozhang{
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #E0E0E0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.wenti{border-left: 1px none;}
.dibu-top li a{color: #616161;}
.dibu-top li a:hover{color:#ff6700}
/******************************/
.dibu-bottombox{
  width:1226px;
  height:112px;
  padding:40px 0;
}
.dibu-bottom{
  width:165px;
  height:112px;
  float:left;
}
.dibu-bottom dt{
  margin:0px 0px 26px;
  font-size: 14px;
  line-height:17px;
  color: #424242;
}
.dibu-bottom dd{
  margin: 10px 0px 0px;
  font-size: 12px;
  line-height: 17px;
}
.dibu-bottom dd a{color: #757575;}
.dibu-bottom dd a:hover{
  color:#ff6700}
/******************************/
.dibu-right{
  height:112px;
  width:243px;
  float:right;
  border-left: 1px solid #E0E0E0;
  text-align: center;
  color: #616161;
}
.dibu-phone{
  font-size:22px;
  color:#ff6700;
  margin: 0px 0px 5px;
  line-height: 1;
}
.dibu-shijian{margin: 0px 0px 16px; }
.dibu-riqi,.dibu-shoufei{font-size:12px;}
.dibu-kefu a{
  font-size: 12px;
  border-color: #FF6700;
  color:#ff6700;
  width: 118px;
  height: 28px;  
  border:1px solid #ff6700;
  margin-left:62px;
  line-height: 28px;
  display:block;
}
.dibu-kefu a:hover{color:#fff;background-color:#ff6700;}
/******************************/
.banquanbox{
  width:100%;
  height:37px;
  padding: 30px 0px;
  font-size: 12px;
  background:#fafafa;
}
.banquan{
  height:37px;
  width:1226px;
  margin:0 auto;
}
/******************************/
.xmlogo{
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.banquan-c{
  width:900px;
  height:37px;
  color: #B0B0B0;
  float: left;
}
.wangzhi a{ color:#757575;}
.wangzhi a:hover{color:#ff6700;}
.wangluo a{
  color: #B0B0B0;
  font-size:12px;}
.wangluo a:hover{color:#ff6700;}
/******************************/
.wangzhan{ float:right;}
.wangzhan a{ margin-left:5px;}